:root {
  --color-primary: #FF8310;
  --color-bg: #232323;
  --color-bg-card: #191A20;
  --color-bg-elevated: #393939;
  --color-font: #CCCCCC;
  --color-white: #FFFFFF;
  --font-family: var(--font-poppins), sans-serif;
  --font-ibm-plex-sans: var(--font-ibm-plex-sans), sans-serif;
  --border-radius: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-white);
  font-family: var(--font-family);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: block;
}