.footer {
  background-color: var(--color-bg);
  padding-bottom: 2rem;
  margin-top: 5rem;
  color: var(--color-font);
}

.copyrightBar {
  max-width: 1200px;
  margin: 2rem auto 0;
  padding: 1.5rem 1.5rem 0;
  text-align: center;
  font-size: 0.8125rem;
  color: #FFFFFF70;
  text-transform: uppercase;
  font-family: var(--font-ibm-plex-sans);
  letter-spacing: 1px;
}